site_name: BIA Sanity Preserver
site_url: https://biovisioncenter.github.io/BIA-Sanity-Preserver/stable/
site_description: "Because setting up bio image analysis tools shouldn't cost you your sanity."
repo_name: BIA Sanity Preserver
repo_url: https://github.com/BioVisionCenter/BIA-Sanity-Preserver
copyright: "Copyright &copy; 2025-, BioVisionCenter UZH"

theme:
  name: material
  favicon: images/favicon.ico
  #logo: logos/logo_white.png
  icon:
    repo: fontawesome/brands/github
  palette:
    # Palette toggle for light mode
    - scheme: default
      # primary: green
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      # primary: teal
      # accent: light-green
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.tooltips
    - content.tabs.link
    - content.code.annotate
    - navigation.instant
    - navigation.instant.progress
    - navigation.sections
    - navigation.path
    - navigation.indexes
    - navigation.footer
    #- toc.integrate
    - toc.follow
    - search.suggest
    - search.share

extra:
  version:
    provider: mike
  social:
    - icon: fontawesome/brands/github
      link: "https://github.com/BioVisionCenter/BIA-Sanity-Preserver"

plugins: 
  - search      

nav:
  - Home: index.md
  - Tools:
    - Cellpose: tools/cellpose.md
    - Napari (OME-Zarr): tools/napari-ome-zarr.md
    - ilastik: tools/ilastik.md
    - Plant-seg: tools/plant-seg.md
    - Convpaint: tools/convpaint.md
    - Feature-explorer: tools/feature-explorer.md
  - Environments:
    - Python Scientific Stack: envs/python-scientific-stack.md
    - Ngio: envs/ngio.md
  - Contributing: contributing.md